@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);

* {
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 2vh;
    overflow: hidden;
}

hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    border: 0;
    color: black;
    height: 1px;
}

input:focus {
    outline: 0;
}

#chat {
    margin: 0 auto;
    width: 50vw;
}

#error {
    border: 1px solid red;
    border-radius: 1vh;
    color: red;
    display: none;
    font-weight: bold;
    margin: 5vh 0 0 0;
    padding: 2vh;
}

#header {
    padding: 5vh 0;
}

#header input {
    border: 1px solid black;
    border-radius: 2vh;
    box-shadow: inset .5vh 0 .8vh gray;
    display: inline-block;
    text-align: center;
}

#name {
    font-weight: bold;
}

.logged-in {
    display: none;
}

#conversation {
    margin: 5vh 0 0 0;
}

#compose input {
    border: 1px solid gray;
    border-radius: 2vh;
    box-shadow: inset .5vh 0 .8vh gray;
    display: block;
    height: 4vh;
    line-height: 2;
    margin: 0 auto 5vh;
    text-align: center;
    width: 50%;
}

#message-template {
    display: none;
}

#conversation .from {
    color: blue;
    font-weight: bold;
}

#conversation .message {
    margin: 0 0 2vh 0;
}
